

.message {
    width: 20% ;
    height:10%;
    align-items: center;
    align-self: center;
    background: #ffffff;
    border-radius:16px;
    border: 1px solid #eeee;
    padding:20px;
    z-index: 300;
    position: relative;
}

.msg {
    font-size: large;
    text-align: center;
}